schema.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Vogue Customization</title>
        <author>Molly Wright</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the TEI Consortium
            (info@tei-c.org).</p>
          <p>This is an edit to see if availability takes more than one p element. It does! That's
            cool.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="RomaJS" version="1.3.0" when="2025-10-15T18:17:58.828Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.3.0" when="2025-10-21T18:02:32.634Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.3.0" when="2025-10-21T18:10:19.336Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.3.0" when="2025-10-21T18:17:35.919Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
    <appInfo><application ident="RomaJS" version="1.3.0" when="2025-11-06T20:15:15.805Z"><desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc></application></appInfo></encodingDesc>
  </teiHeader>
  <text>
    <body>
      <head>TEI Complete</head>
      <p>Customized</p>
      <schemaSpec ident="tei_all" start="TEI teiCorpus" prefix="tei_" targetLang="en" docLang="en">
        <moduleRef n="01" key="tei"/>
        <moduleRef n="02" key="header" except="abstract appInfo application authority availability biblFull cRefPattern calendar calendarDesc catDesc catRef category change citeData citeStructure classCode classDecl conversion correction correspAction correspContext correspDesc creation distributor editorialDecl encodingDesc extent funder geoDecl hyphenation interpretation keywords langUsage language licence listChange listPrefixDef namespace normalization notesStmt prefixDef principal profileDesc projectDesc punctuation quotation refState refsDecl rendition revisionDesc samplingDecl schemaRef segmentation seriesStmt sponsor stdVals styleDefDecl tagUsage tagsDecl taxonomy textClass unitDecl unitDef xenoData"/>
        <moduleRef n="03" key="core" except="binaryObject"/>
        <moduleRef n="04" key="textstructure" except="argument back div4 div5 div6 div7 front group imprimatur opener postscript salute signed titlePage titlePart trailer"/>
        <moduleRef n="09" key="cmc"/>
        <moduleRef n="18" key="analysis"/>
        <moduleRef n="11" key="msdescription" except="accMat acquisition additional additions adminInfo altIdentifier binding bindingDesc catchwords collation collection colophon condition custEvent custodialHist depth dim dimensions explicit filiation finalRubric foliation height heraldry history incipit institution locus locusGrp msFrag msItem msItemStruct msPart musicNotation objectDesc objectType origPlace provenance recordHist rubric scriptDesc seal sealDesc secFol signatures source stamp summary support supportDesc surrogates watermark width"/>
        <moduleRef n="14" key="namesdates" except="addName affiliation age birth bloc climate death district education faith floruit forename genName gender geo langKnowledge langKnown listEvent listNym listObject listOrg listPerson listPlace listRelation nameLink nationality nym occupation offset persPronouns personGrp persona population relation residence roleName settlement sex socecStatus state surname terrain trait"/>
        <moduleRef n="15" key="figures" except="cell formula notatedMusic row table"/>
        <moduleRef n="22" key="certainty"/>
        <elementSpec ident="note" mode="change">
          <attList>
            <attDef ident="targetLang" mode="delete"/>
            <attDef ident="target" mode="delete"/>
            <attDef ident="generatedBy" mode="delete"/>
            <attDef ident="anchored" mode="delete"/>
            <attDef ident="targetEnd" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="type" mode="change">
              <valList type="semi" mode="change">
                <valItem mode="add" ident="material"/>
                <valItem mode="add" ident="color"/>
                <valItem mode="add" ident="garment"/>
                <valItem mode="add" ident="garment-piece"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <classRef key="att.sortable"/>
        <classRef key="att.spanning"/>
        <classSpec ident="att.anchoring" type="atts" mode="delete"/>
        <classSpec ident="att.ascribed.directed" type="atts" mode="delete"/>
        <classSpec ident="att.breaking" type="atts" mode="delete"/>
        <classSpec ident="att.cReferencing" type="atts" mode="delete"/>
        <classSpec ident="att.calendarSystem" type="atts" mode="delete"/>
        <classSpec ident="att.citing" type="atts" mode="delete"/>
        <classSpec ident="att.cmc" type="atts" mode="delete"/>
        <classSpec ident="att.datable.custom" type="atts" mode="delete"/>
        <classSpec ident="att.datcat" type="atts" mode="delete"/>
        <classSpec ident="att.declarable" type="atts" mode="delete"/>
        <classSpec ident="att.declaring" type="atts" mode="delete"/>
        <classSpec ident="att.dimensions" type="atts" mode="delete"/>
        <classSpec ident="att.interpLike" type="atts" mode="delete"/>
        <classSpec ident="att.media" type="atts" mode="delete"/>
        <classSpec ident="att.milestoneUnit" type="atts" mode="delete"/>
        <classSpec ident="att.pointing" type="atts" mode="delete"/>
        <classSpec ident="att.resourced" type="atts" mode="delete"/>
        <classSpec ident="att.scope" type="atts" mode="delete"/>
        <classSpec ident="att.segLike" type="atts" mode="delete"/>
        <classSpec ident="att.timed" type="atts" mode="delete"/>
        <classSpec ident="att.transcriptional" type="atts" mode="delete"/>
      <elementSpec ident="rs" mode="change"><attList><attDef ident="type" mode="change"><valList type="closed" mode="change"><valItem mode="add" ident="garment"/><valItem mode="add" ident="garment-piece"/><valItem mode="add" ident="material"/><valItem mode="add" ident="color"/></valList></attDef></attList></elementSpec></schemaSpec>
    </body>
  </text>
</TEI>